<tr class="credit-account-detail grid_2">
  <td>
    <label><%= multi_text_field_with_auto_complete :account, :credit, index, { :size => 27 }, :skip_style => true, :indicator => "indicator-account-credit-#{index}" -%>
      <%= hidden_field_tag "credit_account_id_#{index}", "", :id => "account_credit_#{index}_id" %>
      <span id="indicator-account-credit-<%=index%>" style="display:none;"><%= image_tag "ajax-loader.gif" %></span>
    </label>
  </td>
  <td><%= text_field_tag "value_credit_#{index}", 0, :size => 10, :style => "text-align: right;", :onkeyup => "sum_total_manual_journal('credit',$('credit_count').value);" %></td>
  <td><%= link_to_function "", 
      "$(this).up('tr.credit-account-detail').hide();
$('account_credit_#{index}').value='xs-x';
$('account_credit_#{index}_id').value='';
$('value_credit_#{index}').value=0;
sum_total_manual_journal('credit',$('credit_count').value);", :class => 'a_delete' %></td>
</tr>