<div id="search">
  <table class="search_table" cellpadding="2" cellspacing="0" width="200">
    <tr><th colspan="2">Piutang dari Vendor</th></tr>
    <tr><td>Bulan</td><td><%= Time.now().strftime('%B')%></td></tr> <br/>
    <tr><td>Tahun</td><td><%= Time.now().strftime('%Y') %></td></tr>
  </table>
</div>
<table id="t1" class="main_table" cellpadding="0" cellspacing="0" width="400px;">
  <tr class="grid_1">
    <th>No</th>
    <th>Nama Vendor</th>
    <th>Jumlah Piutang</th>
  </tr>
  <% if @vendor_receivables and @vendor_receivables.length > 0 %>
    <% @vendor_receivables.each_with_index do |vendor_receivable, count| %>
      <% if vendor_receivable.sum_of_receivable.to_i > 0 %>
        <tr class=<%= cycle("grid_2","grid_3") %>>
          <td align="right"><%= count + 1 %></td>
          <td align="center"><%= vendor_receivable.vendor.name rescue nil %></td>
          <td align="right"><%= vendor_receivable.sum_of_receivable %></td>
        </tr>
      <% end %>
    <% end %>
  <% else %>
    <tr class='grid_2'><td colspan="3" style="text-align:center;">Tidak ada Data</td></tr>
  <%end%>
</table>
