<% $help_path_images = "/images/help/bank_balances/" %>
<% $global_images = "/images/help/global_help/" %>

<p>Tambah Transaksi Bank untuk menambah daftar Transaksi Bank.
    Untuk menggunakan fungsi ini tekan tombol ,
    <img src="<%= concat_help_images($global_images, 'input_transaksi.png') %>" alt="Input Transaksi">,
    maka pada layar akan muncul form tambah
</p>


<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'form.png') %>" alt="form_input">
</div>

<div style="text-align:center; font-weight:bold;">&bull; Gambar Form Tampilan Tambah Data Transaksi Bank</div>
<p>
    Isikan inputan pada kotak isian. Kemudian klik tombol
    <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'simpan.png') %>" alt="simpan">
    untuk mengeksekusi penambahan data Transaksi Bank baru. Selanjutnya pada layar akan muncul informasi “transaksi bank berhasil dibuat”.
    Untuk membatalkan tambah Transaksi Bank dan kembali ke menu sebelumnya maka tekan link Batal.
    Perlu diperhatikan isian Kode Rekening, Jenis Transaksi, Jenis Buku Kas, Jumlah dan Keterangan harus diisi.
</p>

<p>
Edit Transaksi Bank untuk merubah atau menambahkan keterangan tambahan data Transaksi Bank. Untuk menggunakan fungsi ini tekan tombol  yang sejajar dengan data yang akan diedit,
maka pada layar akan muncul form Edit Transaksi Bank
</p>
<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'edit_bank.png') %>" alt="edit_bank">
</div>

<div style="text-align:center; font-weight:bold;">&bull; Gambar Form Tampilan Edit Data Transaksi Bank</div>

<p>
Isikan inputan baru pada kotak inputan Transaksi Bank yang akan diubah. Kemudian klik tombol  untuk mengeksekusi perubahan data baru. Selanjutnya pada layar akan muncul informasi “transaksi bank berhasil diupdate”.
Untuk membatalkan edit Transaksi Bank dan kembali ke menu sebelumnya maka tekan link Batal.
Hapus Transaksi Bank untuk menghapus data Transaksi Bank.
Untuk menggunakan fungsi ini tekan tombol
    <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'hapus.png') %>" alt="hapus"> yang sejajar dengan data yang akan dihapus,
    ,maka pada layar akan muncul form Konfirmasi Penghapusan Transaksi Bank.
</p>

<p>
Klik tombol “OK” jika Anda setuju untuk melakukan penghapusan data. Selanjutnya pada layar akan muncul informasi
“Transaksi Bank berhasil dihapus”.
Klik Tombol “Cancel” jika Anda ingin membatalkan penghapusan data.
</p>
<p>
Export PDF untuk mengexport laporan ke dalam bentuk file pdf.
Tekan tombol
<img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'export_pdf.png') %>" alt="export_pdf">
maka akan keluar tampilan konfirmasi<br />
</p>
<div style="text-align:center;">
    <img style="width:30%; height:30%;" src="<%= concat_help_images($global_images, 'konf_export_pdf.png') %>" alt="konfirmasi_export_pdf">
</div>

<div style="width:100%; text-align:center; font-weight:bold;"> Gambar Memilih Folder Tempat Membuka File</div>

<p>
Pilih “Open With Microsoft Office Excel (Default)“ lalu klik tombol “OK“.
Maka akan muncul laporan dalam bentuk PDF
</p>

<div style="text-align:center;"> <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'pdf_view.png') %>" alt="export_pdf"></div>
<div style="width:100%; text-align:center;"> Gambar Laporan Data Transaksi Bank dalam Format PDF</div>

<p>
Export Excel untuk mengexport laporan ke dalam bentuk Ms Excel.
Tekan tombol<img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'export_excell.png') %>" alt="export_excell">
maka akan keluar tampilan konfirmasi
</p>

<div style="text-align:center;">
<img style="width:20%; height:20%;" src="<%= concat_help_images($global_images, 'konf_export_xls.png') %>" alt="excell_view">
</div>


<p>Gambar Memilih Folder Tempat Membuka File
Pilih “Open With Microsoft Office Excel (Default)“ lalu klik tombol “OK“.
Maka akan muncul laporan dalam bentuk Ms Excel</p>
<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'excell_view.png') %>" alt="konf_export_excell">
</div>


<div style="width:100%; text-align:center;"> Gambar Laporan Data Transaksi Bank dalam Format Ms Excel</div>

