<% $help_path_images = "/images/help/purchase_balances/" %>
<% $global_images = "/images/help/global_help/" %>

<p>Pada tampilan Transaksi Pembelian ini terdapat beberapa fungsi yang dapat digunakan,
    diantaranya adalah :</p>


<p>Link Input Tipe Debet Kredit untuk mengatur administrasi
    tipe debit kredit transaksi pembelian. Untuk menggunakan fungsi ini tekan tombol
    <img style="width:20%; height:20%;" src="<%= concat_help_images($global_images, 'input_debit_credit.png') %>" alt="link debit credit">
</p>

<p>Tambah transaksi pembelian untuk menambah daftar transaksi pembelian.
    Untuk menggunakan fungsi ini tekan tombol ,
    <img src="<%= concat_help_images($global_images, 'input_transaksi.png') %>" alt="input transaksi">maka pada layar akan muncul form tambah
</p>
<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'form.png') %>" alt="form transaksi">
</div>

<p style="text-align:center; font-weight:bold;"> Gambar Form Tampilan Tambah Transaksi Pembelian</p>

<p>Isikan inputan pada kotak isian.
    Kemudian klik tombol
    <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'simpan.png') %>" alt="simpan">
    untuk mengeksekusi penambahan data transaksi pembelian baru.
    Selanjutnya pada layar akan muncul informasi “ transaksi pembelian berhasil dibuat ”.
    Untuk membatalkan tambah transaksi pembelian dan kembali ke menu sebelumnya maka tekan link Batal.
    Perlu diperhatikan isian No Po, Surat Jalan,
    No Invoice, Uraian Pekerjaan, Job No dan Kode Rekening harus diisi.
</p>

<p>Edit transaksi pembelian untuk merubah atau menambahkan keterangan tambahan data transaksi pembelian.
    Untuk menggunakan fungsi ini tekan tombol  yang sejajar dengan data yang akan diedit,
    maka pada layar akan muncul form Edit transaksi pembelian
</p>

<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'edit.png') %>" alt="edit transaksi">
</div>

<p style="text-align:center; font-weight:bold;">Gambar Form Tampilan Edit Data Transaksi Pembelian</p>
<p>
    Kemudian klik tombol   <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'edit.png') %>" alt="edit transaksi"> untuk mengeksekusi perubahan data baru.
    Selanjutnya pada layar akan muncul informasi “transaksi pembelian berhasil diupdate”.
    Untuk membatalkan edit transaksi pembelian dan kembali ke menu sebelumnya maka tekan link <strong>Batal.</strong>
</p>

<p>
    Hapus transaksi pembelian untuk menghapus data transaksi pembelian.
    Untuk menggunakan fungsi ini tekan tombol <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'hapus.png') %>" alt="hapus transaksi">
    yang sejajar dengan data yang akan dihapus, maka pada layar akan muncul form
    Konfirmasi Penghapusan transaksi pembelian
</p>

<div style="width:100%; text-align:center;">
    <img style="width:50%; height:50%;" src="<%= concat_help_images($global_images, 'konf_hapus.png') %>" alt="konfirmasi hapus">
</div>

<p style="text-align:center; font-weight:bold;"> Gambar Tampilan Konfirmasi Penghapusan Data Transaksi Pembelian</p>

<p>
    Klik tombol “OK” jika Anda setuju untuk melakukan penghapusan data. Selanjutnya pada layar akan muncul informasi “transaksi pembelian berhasil dihapus”. Klik Tombol “Cancel” jika Anda ingin membatalkan penghapusan data.
</p>
<p>
    Export PDF untuk mengexport laporan ke dalam bentuk file pdf.
    Tekan tombol <img src="<%= concat_help_images($global_images, 'export_pdf.png')%>" alt="export pdf"> maka akan keluar tampilan konfirmasi
</p>

<div style="width:100%; text-align:center;">
    <img style="width:50%; height:50%;" src="<%= concat_help_images($global_images, 'konf_export_pdf.png') %>" alt="konfirmasi export pdf">
</div>
<p style="text-align:center; font-weight:bold;"> Gambar Tampilan Konfirmasi Untuk Export Pdf</p>

<p>
    Pilih “Open With Adobe Reader (Default)“ lalu klik tombol “OK“. Maka akan muncul laporan dalam bentuk file pdf
</p>

<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'view_pdf.png') %>" alt="view export pdf">
</div>

<p style="text-align:center; font-weight:bold;">
    Gambar Laporan Data Transaksi Pembelian dalam Format PDF
</p>

<p>
    Export Excel untuk mengexport laporan ke dalam bentuk Ms Excel.
    Tekan tombol <img style="width:10%; height:10%;" src="<%= concat_help_images($global_images, 'export_excell.png') %>" alt="export excell"> maka akan keluar tampilan konfirmasi
</p>

<div style="width:100%; text-align:center;">
    <img style="width:80%; height:80%;" src="<%= concat_help_images($help_path_images, 'excell_view.png') %>" alt="export excell">
</div>

<p style="text-align:center; font-weight:bold;"> Gambar Laporan Data Transaksi Penjualan dalam Format Ms Excel</p>
