<%=  popup_title "Tambah Tipe" %>
<div id="RB_body" style="width: 250px;">

<% form_for(@type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 25 %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 28, :rows => 4, :live => false %>
  </p>
  <p>
   Aktif<br />
   <%= check_box_tag "active", true, true %>
    </p>
  <p>
    <%= f.submit "Create" %>
  </p>
  <script>
    <%#*var name = new LiveValidation('type_name');%>
    <%#*name.add(Validate.Presence);%>
  </script>
<% end %>
</div>
