<%=  popup_title "Trasnfer" %>
<div style="max-height:410px; overflow:auto;">
  <div id="RB_body" style="width: 300px;">
    <% form_for(:transfer, @transfer, :url => {:action => :update_account_trasnfer})  do |f| %>
      <div style="float:left;margin: 5px 20px 5px 5px;">
        <table class="search_table" cellpadding="5" cellspacing="0">
          <tr>
            <td>No Date Transfer</td>
            <td> : </td>
            <td align="">
             <%= f.date_splicer :updated_at, :default_to_now => true %>
            </td>
          </tr>
          <tr>
            <td>Bank</td>
            <td> : </td>
            <td align="">
              <%= select(:transfer,:sale_debit_credit_id, account_bank  ) %>
            </td>
          </tr>
          <tr>
            <td>Total</td>
            <td> : </td>
            <td align="">
              <%= f.text_field :total_value, :value => @transfer.value, :style => "text-align: right;" %>
            </td>
          </tr>
        </table>
        <%= hidden_field_tag :id,@transfer.id %>
        <p>
          <%= f.submit "Update" %>
        </p>
      </div>
    <% end %>
  </div>
</div>

