<div id="search">
  <table class="search_table" cellpadding="2" cellspacing="0" width="200">
    <% form_tag(:action => :index) do %>
      <tr><th colspan="2">Filter Transaksi</th></tr>
      <tr><td>Bulan</td><td><%= select_month(default_filter_month, :use_month_names => indonesian_month_names ) %></td></tr> <br/>
      <tr><td>Tahun</td><td><%= select_year(default_filter_year, :start_year => 2000, :end_year => 2030) %></td></tr>
      <tr><td colspan="2" align="right"><%= submit_tag "Proses", :class => "btn-submit" %></td></tr>
    <%end%>
  </table>
</div>

<div class="wrap_table_data">
  <table id="data" class="main_table" cellpadding="0" cellspacing="0" width="1000px">
    <thead>
      <tr class="grid_1">
        <th>No</th>
        <th>Jenis Pajak</th>
        <th>Tanggal SSP</th>
        <th>No Bukti Potong / PIBT</th>
        <th>Customer</th>
        <th>Jumlah Pajak</th>
        <th style="text-align:center;" colspan="2">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% @tax_credits.each_with_index do |tax_credit, i|%>
        <tr class=<%= cycle("grid_2","grid_3") %>>
          <td><%=i+1 %></td>
          <td><%=h tax_credit.tax_type %></td>
          <td><%=h format_date(tax_credit.ssp_date) %></td>
          <td><%=h tax_credit.evidence %></td>
          <td><%=h tax_credit.customer.name rescue nil %></td>
          <td style="text-align:right;"><%= format_currency(tax_credit.amount) %></td>
          <% total += tax_credit.amount %>
          <td><%= link_to_remote_redbox("Edit", {:url => "/accounting/tax_credits/edit/#{tax_credit.id}"},{:class => "a_edit"})  %></td>
          <td><%= link_to 'Hapus', accounting_tax_credit_path(tax_credit), :confirm => "Apakah anda yakin No '#{tax_credit.evidence}' akan dihapus?", :method => :delete, :class => "a_delete" %></td>
        </tr>
      <% end %>
      <% if @tax_credits.size >= 1 %>
        <tr class="grid_2">
          <th colspan="5">Total</th>
          <th style="text-align:right;"><%= format_currency(total) %></th>
          <th colspan="2">&nbsp;</th>
        </tr>
      </tbody>
    <% else %>
      <tr class="grid_2"><td align="center" colspan="8">Tidak Ada Data</td></tr>
    <%end%>
  </table>
</div>

<table id="data" class="main_table" cellpadding="0" cellspacing="0" width="1000px;">
  <tr class="grid_footer">
    <td valign="center">
      <%# if @can_input %>
        <%= link_to_remote_redbox("Input Transaksi", {:url => {:action => :new}}, {:class => "a_add"}) %><span class="blue_split">&nbsp;</span>
      <%# end %>
      <%= link_to "Export PDF", formatted_accounting_tax_credits_path(:pdf), :class => "a_pdf" %><span class="blue_split">&nbsp;</span>
      <%= link_to "Export EXCEL", formatted_accounting_tax_credits_path(:xls), :class => "a_xls" %>
    </td>
    <td>
      <%= will_paginate @tax_credits %>
    </td>
  </tr>
</table>