<%= popup_title "Edit Pembayaran" %>

<div id="RB_body" style="width: 300px;">
<% form_for(:transaction_type, @transaction_type, :url => accounting_transaction_type_path(@transaction_type), :html=> {:method=>'put'})  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols =>34, :rows =>5 %>
  </p>
  <%#*<p>%>
    <%#= f.label :order % ><br />
    <%#= f.text_field :order %>
  <%#*</p>%>
  <p>
    <%= f.label :group %><br />
    <%= f.text_field :group %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>
