<%=  popup_title "Edit Barang" %>

<div id="RB_body" style="width: 400px;">
  <% form_for(@item) do |f| %>
    <%= f.error_messages %>

    <p>
      Tipe<span id="indicator-tipe" style="display:none;"><%= image_tag "ajax-loader.gif" %></span><br />
      <%= text_field_with_auto_complete :type, :name, { :size => 25, :value => @item.nil? || @item.type.nil? ? "" : @item.type.name }, :skip_style => true, :indicator => 'indicator-tipe' -%>
      <%= f.hidden_field :type_id ,:id => 'type_name_id'%> <br />
    </p>
    <p>
      <%= f.label :item_code %><br />
      <%= f.text_field :item_code,{:size => 25} %>
    </p>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name,{:size => 25} %>
    </p>

    <p>
    <div>
      Satuan<span id="indicator-unit" style="display:none;"><%= image_tag "ajax-loader.gif" %></span><br />
      <%= text_field_with_auto_complete :unit, :name, { :size => 25, :value => @item.nil? || @item.unit.nil? ? "" : @item.unit.name}, :skip_style => true, :indicator => "indicator-unit" -%>
      <%#*Jumlah Satuan <%= f.text_field :code_pcs, :value => !@item.code_pcs.nil? ? @item.code_pcs : 1  ,:size => 1 % >%>
    </div>
      <%= f.hidden_field :unit_id ,:id => 'unit_name_id'%>
    </p>
    <%= f.hidden_field :alias, :value => "" %>
    <%#*<p>%>
      <%#*Metode Inventory<br />%>
      <%#= f.select :inventory_method, options_for_select(inventory_method_options) %>
    <%#*</p>%>
    <p>
      Keterangan<br />
      <%= f.text_area :description, :cols => 25, :rows => 5, :live => false %>
    </p>
    <p>
      Aktif<br />
      <%= check_box_tag "active", true, @item.active %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>

</div>