<p>
  <b>Name:</b>
  <%=h @unit.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @unit.code %>
</p>

<p>
  <b>Active:</b>
  <%=h @unit.active %>
</p>


<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>